    
<div class="container">     
    


      <div >
        <mat-card>
          <mat-card-title>
              {{currentUser ? 'Edit my data' : 'Register'}}
          </mat-card-title>
          <form  [formGroup]="registerForm" autocomplete="off" novalidate (ngSubmit)="registerUser(registerForm)">
            
            <mat-card-content>

              <input  type="hidden" name="_id" >

              <mat-form-field >
                <input  matInput name="name" type="text" formControlName="name" id="name"  placeholder="Enter your Name" >
                <mat-hint align="end">Not more then 40 characters long.</mat-hint>
                <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
                <mat-error *ngIf="hasError('name', 'maxlength')">You have more than 40 characters</mat-error>
              </mat-form-field>
              
              <mat-form-field >
                <input  matInput name="surname" type="text" formControlName="surname" id="surname"  placeholder="Enter your Surname" >
                <mat-hint align="end">Not more then 40 characters long.</mat-hint>
                <mat-error *ngIf="hasError('surname', 'required')">Surname is required</mat-error>
                <mat-error *ngIf="hasError('surname', 'maxlength')">You have more than 40 characters</mat-error>
              </mat-form-field>

              <mat-form-field >
                <input  matInput name="email" type="text" formControlName="email" id="email" 
                (input)="registerForm.patchValue({email: $event.target.value.toLowerCase()})" placeholder="Enter your email" >
                <mat-hint align="end">valid email.</mat-hint>
                <mat-error *ngIf="hasError('email', 'required')">email is required</mat-error>
                <mat-error *ngIf="hasError('email', 'pattern')">invalid email</mat-error>
              </mat-form-field>

              <div formGroupName="password">
                <mat-form-field >
                  <input  matInput name="pwd" type="password" formControlName="pwd" id="pwd"  placeholder="Enter your password" >
                  <mat-hint align="end">mimimun 6 characters long.</mat-hint>
                  <mat-error *ngIf="hasError('password.pwd', 'required')">password is required</mat-error>
                  <mat-error *ngIf="hasError('password.pwd', 'minlength')">You have less than 6 characters</mat-error>
                </mat-form-field>
  
                <mat-form-field >
                  <input  matInput name="confirmPwd" type="password" formControlName="confirmPwd" id="confirmPwd"  placeholder="Repeat your password" >
                  <mat-hint align="end">mimimun 6 characters long.</mat-hint>
                  <mat-error *ngIf="hasError('password.confirmPwd', 'required')">password is required</mat-error>
                  <mat-error *ngIf="hasError('password.confirmPwd', 'minlength')">You have less than 6 characters</mat-error>
                </mat-form-field>
                <mat-error *ngIf="hasError('password', 'mismatch')">passwords not match</mat-error>
              </div>

            </mat-card-content>
          
            <mat-card-actions>
              <button mat-raised-button type="reset" class="btn right" color="primary" (click)="resetForm(registerForm)">Clean</button>
              <button mat-raised-button type="submit" class="btn right" [disabled]="!registerForm.valid" color="sucessfull">{{ currentUser ? 'Edit' : 'Register' }}</button>
            </mat-card-actions>
          </form>
        </mat-card>
      </div>
      <div class="col s4">
        <app-spinner *ngIf="loading"></app-spinner>
    </div>

</div>