
<mat-toolbar color="primary">
  <mat-toolbar-row>
      <span>{{title}}</span>
      <span class="spacer"></span>
      <!--<mat-icon class="example-icon">favorite</mat-icon>
      <mat-icon class="example-icon">delete</mat-icon> -->

      <button mat-button *ngIf="!identity" [routerLink]="['/register']" ><mat-icon>assignment_ind</mat-icon> Register</button>
      <button mat-button *ngIf="!identity" [routerLink]="['/login']" ><mat-icon>perm_identity</mat-icon> Login</button>

      <button mat-button *ngIf="identity"  [matMenuTriggerFor]="menu"><mat-icon>account_circle</mat-icon> {{identity.nombre}}</button>
      <mat-menu #menu="matMenu">
        <a (click)="logout()" mat-menu-item>logout</a>
        <a mat-menu-item>Mis datos</a>
      </mat-menu>

      
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>  

<!-- <i class="material-icons">face</i>
<mat-icon>home</mat-icon>
<app-status-logo [logoStatus]="logoStatusToPlot"></app-status-logo> -->
