<!-- 
<div class="container">
  <div class="row formulario">

    <div class="col l4 m8 s12" layout-align="center">
      <div class="card">
        <div class="card-content">
          <form #userForm="ngForm" (ngSubmit)="loginUser(userForm)">
            <div class="row">
              <div class="input-field col s12">
                <input type="text" name="_id" #_id="ngModel" [(ngModel)]="userService.selectedUser._id" >
                <input type="text" name="name" #name="ngModel" [(ngModel)]="userService.selectedUser.name" placeholder="Enter your Name">
                <input type="text" name="surname" #surname="ngModel" [(ngModel)]="userService.selectedUser.surname" placeholder="Enter your Surname">
                <input type="text" name="email" #email="ngModel" [(ngModel)]="userService.selectedUser.email" placeholder="Enter your email">
                <input type="password" name="password" #password1="ngModel" [(ngModel)]="userService.selectedUser.password" placeholder="Enter your password">
                <input type="password" name="password2" #password2="ngModel" [(ngModel)]="userService.selectedUser.password2" placeholder="Repeat your password">
              </div>
              <div class="card-action">
                <div class="input-field col s12">
                  <button class="btn right" (click)="resetForm(userForm)">Clean</button>
                  <button class="btn right">Save</button>
                </div>

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="container">
  <div class="row formulario">

    <div class="col l4 m8 s12">
          <mat-toolbar>
            <span>LOGIN</span>
          </mat-toolbar>
          <mat-card class="my-card">
            <mat-card-content>
                <form class="my-form" [formGroup]="loginForm" autocomplete="off" novalidate (ngSubmit)="loginUser(loginForm)">

                  <mat-form-field>
                      <mat-label>Email</mat-label>
                      <input  matInput  type="text" placeholder="Email" formControlName="email" 
                        (input)="loginForm.patchValue({email: $event.target.value.toLowerCase()})"name="email">
                      <mat-hint align="end">valid email.</mat-hint>
                      <mat-error *ngIf="hasError('email', 'required')">email is required</mat-error>
                      <mat-error *ngIf="hasError('email', 'pattern')">invalid email</mat-error>
                  </mat-form-field>

                  <mat-form-field>
                      <mat-label>Password</mat-label>
                      <input  matInput name="password" type ="password" formControlName="password" placeholder="Enter your password">
                      <mat-hint align="end">mimimun 6 characters long.</mat-hint>
                      <mat-error *ngIf="hasError('password', 'required')">password is required</mat-error>
                      <mat-error *ngIf="hasError('password', 'minlength')">You have less than 6 characters</mat-error>
                  </mat-form-field>
                  
                  <mat-card-actions>
                      <button mat-raised-button type="reset" class="btn right" color="primary" >Clean</button>
                      <button mat-raised-button type="submit" class="btn right"  [disabled]="!loginForm.valid" color="sucessfull">Login</button>
      
                  </mat-card-actions>
                </form>
            </mat-card-content>
          </mat-card>
    </div>


  </div>
</div>


