
<div class="container">
  <div class="row">
    <div class="col s4">

<!-- 
        <mat-card>
          <mat-card-title>
            Users
          </mat-card-title>
          <form  [formGroup]="userForm" autocomplete="off" novalidate 
              (ngSubmit)="addUser(userForm)">
            
            <mat-card-content>

              <input  type="hidden" name="_id" >
              <mat-form-field >
                  <input  matInput name="nombre" type="text" formControlName="nombre" id="nombre" placeholder="Enter your Name" >
                  <mat-hint align="end">Not more then 40 characters long.</mat-hint>
                  <mat-error *ngIf="hasError('nombre', 'required')">Name is required</mat-error>
                  <mat-error *ngIf="hasError('nombre', 'maxlength')">You have more than 40 characters</mat-error>
                </mat-form-field>
                
                <mat-form-field >
                  <input  matInput name="apellidos" type="text" formControlName="apellidos" id="apellidos"  placeholder="Enter your Surname" >
                  <mat-hint align="end">Not more then 40 characters long.</mat-hint>
                  <mat-error *ngIf="hasError('apellidos', 'required')">Surname is required</mat-error>
                  <mat-error *ngIf="hasError('apellidos', 'maxlength')">You have more than 40 characters</mat-error>
                </mat-form-field>
  
                <mat-form-field >
                  <input  matInput name="email" type="text" formControlName="email" id="email"  placeholder="Enter your email" >
                  <mat-hint align="end">valid email.</mat-hint>
                  <mat-error *ngIf="hasError('email', 'required')">email is required</mat-error>
                  <mat-error *ngIf="hasError('email', 'email')">invalid email</mat-error>
                </mat-form-field>

                <mat-form-field >
                    <input  matInput name="role" type="text" formControlName="role" id="role"  placeholder="Enter your role" >
                    <mat-hint align="end">valid role.</mat-hint>
                    <mat-error *ngIf="hasError('role', 'required')">role is required</mat-error>
                    <mat-error *ngIf="hasError('role', 'role')">invalid role</mat-error> 
                  </mat-form-field>
  
                <mat-form-field >
                  <input  matInput name="password" type="password" formControlName="password" id="password"  placeholder="Enter your password" >
                  <mat-hint align="end">mimimun 6 characters long.</mat-hint>
                  <mat-error *ngIf="hasError('password', 'required')">password is required</mat-error>
                  <mat-error *ngIf="hasError('password', 'minlength')">You have less than 6 characters</mat-error>
                </mat-form-field>

            </mat-card-content>
            
            <mat-card-actions>
              <button mat-raised-button class="btn right" color="primary" (click)="resetForm(userForm)">Clean</button>
              <button mat-raised-button class="btn right" [disabled]="!userForm.valid" color="sucessfull">Save</button>
            </mat-card-actions>   
          </form>
        </mat-card> 
-->

        <div class="card-content">
          <form #userForm="ngForm" (ngSubmit)="addUser(userForm)">
            
              <div class="input-field ">
                <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="userService.selectedUser._id" >
                <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="userService.selectedUser.nombre" placeholder="Enter your Name">
                <input type="text" name="apellidos" #apellidos="ngModel" [(ngModel)]="userService.selectedUser.apellidos" placeholder="Enter your Surname">
                <input type="text" name="email" #email="ngModel" [(ngModel)]="userService.selectedUser.email" placeholder="Enter your email">
                <input type="text" name="role" #role="ngModel" [(ngModel)]="userService.selectedUser.role" placeholder="Enter your role">
                <input type="text" name="password" #password="ngModel" [(ngModel)]="userService.selectedUser.password" placeholder="Enter your password">
              </div>
              <div class="card-action">
                <div class="input-field">
                  <button class="btn right" (click)="resetForm(userForm)">Clean</button>
                  <button class="btn right">Save</button>
                </div>

              </div>
            
            </form>
          </div>
          
        </div>
 



      
      <div class="col s7">
        <table>
          <thead>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>email</th>
            <th>role</th>
          </thead>
          <tbody>
            <tr *ngFor="let user of userService.users">
              <td>{{user.nombre}}</td>
              <td>{{user.apellidos}}</td>
              <td>{{user.email}}</td>
              <td>{{user.role}}</td>
              <td>
                <a (click)="editUser(user)"><i class="material-icons">edit</i></a>
                <a (click)="deleteUser(user._id)"><i class="material-icons">delete</i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

  </div>
</div>
