
<div class="container">
  <div class="row">
     <div class="col s4">
      <mat-card>
        <mat-card-title>
            {{userForm.value._id ? 'EDIT USER' : 'CREATE USER'}}
        </mat-card-title>
        <form  [formGroup]="userForm" autocomplete="off" novalidate (ngSubmit)="addUser(userForm)">
          
          <mat-card-content>

            
            <mat-form-field  *ngIf="false">
              <input  matInput name="_id" type="text" formControlName="_id" id="_id"  placeholder="_id">
            </mat-form-field>

            <mat-form-field >
              <input  matInput name="nombre" type="text" formControlName="nombre" id="nombre"  placeholder="Name" >
              <mat-hint align="end">Not more then 40 characters long.</mat-hint>
              <mat-error *ngIf="hasError('nombre', 'required')">Name is required</mat-error>
              <mat-error *ngIf="hasError('nombre', 'maxlength')">You have more than 40 characters</mat-error>
            </mat-form-field>
            
            <mat-form-field >
              <input  matInput name="apellidos" type="text" formControlName="apellidos" id="apellidos"  placeholder="Surname" >
              <mat-hint align="end">Not more then 40 characters long.</mat-hint>
              <mat-error *ngIf="hasError('apellidos', 'required')">Surname is required</mat-error>
              <mat-error *ngIf="hasError('apellidos', 'maxlength')">You have more than 40 characters</mat-error>
            </mat-form-field>

            <mat-form-field >
              <input  matInput name="email" type="text" formControlName="email" id="email"  placeholder="email" >
              <mat-error *ngIf="hasError('email', 'required')">email is required</mat-error>
              <mat-error *ngIf="hasError('email', 'pattern')">invalid email</mat-error>
              <mat-hint align="end">valid email.</mat-hint>
            </mat-form-field>

            <mat-form-field>
              <mat-select name="role" formControlName="role" id="role"  placeholder="role">
                <mat-option *ngFor= "let r of roleList"  [value] = "r">
                   {{r}}
                </mat-option>
              </mat-select>
              <mat-hint align="end">valid role.</mat-hint>
              <!-- <mat-error *ngIf="hasError('role', 'required')">role is required</mat-error>
              <mat-error *ngIf="hasError('role', 'role')">invalid role</mat-error>    -->
            </mat-form-field>
            
            <div formGroupName="password" *ngIf="!userForm.value._id">
              <mat-form-field >
                <input  matInput name="pwd" type="password" formControlName="pwd" id="pwd"  placeholder="Enter password" >
                <mat-hint align="end">mimimun 6 characters long.</mat-hint>
                <!-- <mat-error *ngIf="hasError('password.pwd', 'required')">password is required</mat-error>
                <mat-error *ngIf="hasError('password.pwd', 'minlength')">You have less than 6 characters</mat-error> -->
              </mat-form-field>

              <mat-form-field >
                <input  matInput name="confirmPwd" type="password" formControlName="confirmPwd" id="confirmPwd"  placeholder="Repeat password" >
                <mat-hint align="end">mimimun 6 characters long.</mat-hint>
                <!-- <mat-error *ngIf="hasError('password.confirmPwd', 'required')">password is required</mat-error>
                <mat-error *ngIf="hasError('password.confirmPwd', 'minlength')">You have less than 6 characters</mat-error> -->
              </mat-form-field>
              <mat-error *ngIf="hasError('password', 'mismatch')">passwords not match</mat-error>
            </div>

            
          </mat-card-content>
        
          <mat-card-actions>
            <button mat-raised-button type="reset" class="btn right" color="primary">Clean</button>
            <button mat-raised-button type="submit" class="btn right" [disabled]="!userForm.valid || userForm.pristine" color="sucessfull">{{userForm.value._id ? 'Update' : 'Save'}}</button>
          </mat-card-actions>
        </form>
      </mat-card>
      <p>Form valid {{userForm.valid}}</p>
      <p>Form pristine {{userForm.pristine}}</p>
    </div>
     
    <div class="col s1"></div>

    <!-- tabla --> 
      
    <div class="col s7">
        <table>
          <thead>
            <th>Name</th>
            <th>Surname</th>
            <th>email</th>
            <th>role</th>
          </thead>
          <tbody>
            <tr *ngFor="let user of userService.users">
              <td>{{user.nombre}}</td>
              <td>{{user.apellidos}}</td>
              <td>{{user.email}}</td>
              <td>{{user.role}}</td>
              <td>
                <a (click)="editUser(user)"><i class="material-icons">edit</i></a>
                <a (click)="deleteUser(user._id)"><i class="material-icons">delete</i></a>
              </td>
            </tr>
          </tbody>
        </table> 
    </div>
  </div>
</div>
    
